<!DOCTYPE html>
<html>
  <head>
    <title>Main menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="container">
      <h1 class="text-center mt-4">Image similarity finder</h1>
      <p class="text-center">This is a basic Flask web application.</p>
      
      <form>
        <div class="mb-3">
            <label for="imageCountInput" class="form-label">Number of Images to Load:</label>
            <input type="number" class="form-control" id="imageCountInput" placeholder="Enter number of images">
        </div>
        <button id="load_images_button" type="submit" class="btn btn-success mt-3">Load Images</button>
      </form>

      <!-- Bar to display selection status -->
      <div id="selectionBar" class="mt-3">
        <!-- Bar will be displayed here -->
      </div>
      
      <div class="mt-5">
        <h2 id="info">Most similar images</h2>
        <p>These images are % similar, but belong in different sets</p>
        <ul id="imageList">
            <!-- Images will be displayed here -->
        </ul>
    </div>

      <!-- Button to check similarities -->
      <button id="putImagesButton" class="btn btn-primary mt-3">Check Similarities</button>
      
      
      <script src="./static/select_images.js"></script>
    </div>

  </body>
</html>
